<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user1</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<body>
    <div id="app">
        <input type="text" v-model="message" />
        <button @click="send">send</button>
        <ul>
            <li v-for="item in list">
                {{item.name}}:{{item.message}}
            </li>
        </ul>
    </div>
</body>

<script>
    // webrtc
    const lc = new RTCPeerConnection();
    const dc = lc.createDataChannel("channel");
    // vue
    const { createApp } = Vue
    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                list: [],
            }
        },
        methods: {
            send() {
                this.list.push({
                    name: "user1",
                    message: this.message
                })
                dc.send(this.message);
                this.message = ''
            }
        },
        mounted() {
            dc.onmessage = (e) => {
                console.log("just got a message" + e.data);
                this.list.push({
                    name: "user2",
                    message: e.data
                })
            }
            dc.onopen = (e) => console.log("Connection opend!");
            lc.onicecandidate = (e) => {
                const msg = {
                    type: "offer",
                    sdp: JSON.stringify(lc.localDescription),
                };
                ws.send(JSON.stringify(msg));
            };
            // 使用WebSocket的地址向服务端开启连接
            let ws = new WebSocket("ws://localhost:3000");
            // 开启后的动作，指定在连接后执行的事件
            ws.onopen = () => {
                console.log("open connection");
                lc.createOffer()
                    .then((o) => lc.setLocalDescription(o))
                    .then((a) => console.log("set successful"));
            };
            // 接收服务端发送的消息
            ws.onmessage = (event) => {
                const data = JSON.parse(event.data);
                if (data.type === "answer") {
                    lc.setRemoteDescription(JSON.parse(data.sdp));
                }
            };
            // 指定在关闭后执行的事件
            ws.onclose = () => {
                console.log("close connection");
            };
        }
    }).mount('#app')
</script>

</html>